/* general background style*/
.form-row, footer, .btn, .card-body, .card-body, .card-text, .formulario-contacto, .mapa-contacto, .card
{
	background-color: #d8bfd8; /*Thistle*/	}
kbd, .card-up{
	background-color: #905b74; /*purple*/}
/*icons*/
i{	
  font-size: 30px;
  padding: 3px;
  color:#c13278; /*shadow pink*/
}
/*especifications for buttons*/
button{   
color: #905b74; /*purple*/
padding: 8px;
margin: 8px;
}

h2{
	text-align: center;
}
h4, h3, h2, h1, p, iframe{ 
	margin: 12px;
	  
}

/*the navigation bar and logo*/ 
.navbar-brand{
	max-width: 330px;
	height: auto;
}
#navigation_bar a{    
	color:#c13278; /*shadow pink*/
	text-decoration: none;
	font-size: 18px; 
}   
a:hover {
color:pink;
}                         
.header_nav{  
    justify-content: flex-end;
	background-color: white;
}         
.nav-item{
   size: 95px;                                                                          
}
.navbar{
	text-decoration: none;
}

/*main index carousel*/

@media (min-width: 768px) {
.carousel-multi-item-2 .col-md-3 {
float: left;
width: 25%;
max-width: 100%;
} 
.carousel-image{
margin: 0px; 
width: auto;
}
.carousel-multi-item-2 .card img {
border-radius: 2px; }
html {
font-size: 1rem;
font-family: 'Roboto', sans-serif;
}    
}
@media (min-width: 360px) {
.aside_newslater{  
height: auto;
max-width:100%;

} 
}
/*Cards*/
.card{
	max-width: 100%;
	margin: 20px 3px 20px 5px;
	border: transparent;
  }
.card-body, .card-text{
	max-width: 100%;
	margin: 5px;
	padding: 10px;
}
.clearfix img{
	max-width: 150px;
	height: auto; 
}
.img-fluid{
	width: 100% \9;
	max-height: 760px;
}

.avatar img {
  max-width: 250px; 
}

/*this is the appointment section*/
.needs-validation{
	padding: 15px;

}
.turnos{
	max-height: auto;
	max-width: auto;
}
.label{
	margin: 2px;
	margin-left: 10px;	
}
.input{
	margin: 2px;
	padding: 3px;}
}
.form-row{
	border: solid 15px #d8bfd8;
	max-width: 300px;
	margin: 10px;
}
/*contact us*/
.contactanos, .mapa-contacto{
	max-width: 450px;
    max-height: 650px;
    padding: 8px;
    margin-top: 20px;
}
.md-form{
	padding: 5px 8px 5px 8px;
}

.form-check-input {
	margin: 3px;
}
.col-sm-4 .col-sm-5{
	margin-bottom :8px;	
}
.fab{
	size: 35px;
}

  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
  

/*ABOUT US*/

.card-img-left{
	justify-content: center;
	max-width: 450px;
	height: auto;
}



.col-md-5{  
height: auto;
width: 100%;
} 
.formulario-contacto{
	padding: 2px;
	width: 100%;
	height: auto;
	margin: 0px;
}
.quienessomos-image img{
width: auto;
height: auto;
}
iframe{
	max-width: 450px;
	max-height: 410px;
	margin: 0px;
}
.form-row{
	max-width: 100%;
	height: auto;
	margin: 0;
	padding: 3px;
}
/* here is the footer*/
.footer{
display:flex;
flex-direction: flex-start;
width: 100%;
}
.footer a{
	text-decoration: none;
    color: black;
    margin-bottom: 3px;
}
/*newslater - suscribe*/
.aside_newslater{
	display:flex;
	margin-bottom: 10px;
	max-width: 100%;
	margin: 10px;
}
/*services main*/
.servicios{
	display:inline-block;
}
.servicios .card-body{
	overflow-y: scroll;
	max-height: 120px;	
}
.card-body::-webkit-scrollbar {
  width: 1em;
}

.card-body::-webkit-scrollbar-thumb {
  background-color: #d8bfd8;
  outline: 1px solid pink;
}
.servicios img{
	max-height: 250px;
	width: auto;

}

@include media-breakpoint-up(sm) {
html {
font-size: 1.2rem;
}
}
@include media-breakpoint-up(md) {
html {
font-size: 1.4rem;
}
}
@include media-breakpoint-up(lg) {
html {
font-size: 1.6rem;
}
}