/*General font style family*/
body{
	font-family: 'Roboto Condensed', sans-serif;
}
/* General background color*/
.form-row, footer, .card-body, .card-text, .formulario-contacto, .mapa-contacto, .card, .carousel
{
	background-color: #d7a9c8; /*magenta*/	
}
kbd, .card-up, .btn
{
	background-color: #905b74; /*purple*/
}
/*Header - Navigation bar and logo*/ 
.navbar-brand{
	max-width: 300px;
	max-height: 120px;
	float: right;
}
#navigation_bar a{    
	color:#c13278; /*shadow pink*/
	text-decoration: none;
	font-size: 18px;
	margin-right: 8px;   
}   
#navigation_bar a:hover{
	color:#d7a9c8;
	text-decoration: none;
}                         
.header_nav{  
    justify-content: flex-end;
	background-color: white;
}         

.navbar{
	text-decoration: none;
}

/*Icons - social media - information */
i{	
	font-size: 28px;
	color:#c13278; /*shadow pink*/
}
.fa-facebook{
	margin: 2px;
	font-size: 30px;
}

.fa-instagram{
	margin: 2px;
	font-size: 30px;

}
.fa-whatsapp{
	margin: 2px;
	font-size: 30px;
}	
.fa-facebook:hover{
	color:#d7a9c8;

  } 
.fa-instagram:hover{
	color:#d7a9c8;

  } 
.fa-whatsapp:hover{
	color:#d7a9c8;
 }
.fa-map-marker-alt{
	font-size: 25px;
	margin: 8px;
}
.fa-at{
	font-size: 25px;
	margin: 8px;
}
.fa-calendar-alt{
	color: white;
	margin: 5px;
}
.fa-credit-card{
	color: white;
	margin: 5px;
}	
.fa-handshake{
	color: white;
	margin: 5px;
}
.fa-telegram-plane{
	color: white;
	font-size: 20px;
}
/* Titles and text*/
h2{
	text-align: center;
}
h4, h3, h2, h1, p, iframe{ 
	margin: 5px;	  
}
/*btn - buttons */
.btn{
    color:white;
    border-color: white;
    padding:5px; 
}
/*btn at section - publicity into the index */
.publicidad .btn{
 margin-top: 20px;
}

/*input textea browser-select label and booton*/
input, textarea, .browser-default, .label, .btn{
	margin: 3px 8px 8px 3px;
	max-width: 350px;
	font-variant: small-caps;
}
.btn-success:hover{
	background-color: #d7a9c8; /*magenta*/
	border-color: white;
}

/*Cards*/
.card{
	max-width: 100%;
	margin: 25px 3px 15px 5px;
	border: transparent;
  }
.card-body, .card-text{
	max-width: 100%;
	margin: 0px;
	padding: 10px;
}
.clearfix img{
	max-width: 150px;
	height: auto; 
}
.img-fluid{
	width: 100% \9;
	max-height: 550px;
}
.avatar img {
  max-width: 250px;
  margin-top: 20px; 
}
/*Our services*/
.servicios{
	display:inline-block;
}
.servicios .card-body{
	overflow-y: scroll;
	max-height: 120px;	
}
.card-body::-webkit-scrollbar {
  width: 1em;
}
.card-body::-webkit-scrollbar-thumb {
  background-color: #d7a9c8; /*magenta*/
  outline: 1px solid pink;
}
.servicios img{
	max-height: 250px;
	width: auto;
}
.col-sm-4, .col-sm-5{
	margin-bottom :5px;	
}
/*Get an appointment section*/
.needs-validation{
	padding: 15px;
}
.turnos{
	max-height: auto;
	max-width: auto;
}
.form-row{
	border: solid 10px #d7a9c8; /*magenta*/
	max-width: 300px;
	margin: 10px;
}
/*Contact us section*/
.col-md-6{
	display:flex;
	align-content: center;
}
.contactanos, .mapa-contacto{
	max-width: 450px;
    max-height: 650px;
    padding: 8px;
    margin-top: 20px;
}
.md-form {
	padding: 5px;
}
.form-check-input {
	margin: 4px;
}

.formulario-contacto{
	padding: 2px;
	width: 100%;
	height: auto;
	margin: 0px;
}
/*google map*/
iframe{
	max-width: 450px;
	max-height: 410px;
	margin: 0px;
}
.form-row{
	max-width: 100%;
	height: auto;
	margin: 0;
}
/*about us section*/
.card-img-left{
	width: 300px;
	height: auto;
}
.col-md-6 p{
	font-size: 19px;
}
/* here is the footer*/
/*suscribe to newslater*/
.card-deck{
	display:flex;
	justify-content: center;
	align-items: center; 
	max-width: 100%;
	height: auto;
	text-decoration: none;
	margin: 10px;
}
/*info of footer*/
.footer-info a{
    color: black;
    margin-top: 30px;
    margin-bottom: 13px;
}
@include media-breakpoint-up(sm) {
	font-size: 1.2rem;
}

@include media-breakpoint-up(md) {
	font-size: 1.4rem;
}

@include media-breakpoint-only(lg) {
	column-count: 4;
}

@include media-breakpoint-only(xl) {
	column-count: 5;
	font-size: 1.6rem;
}
/*print font*/
@media print {
  body { font-size: 10pt }
} 

/*responsive notenook*/
@media (min-width: 1025px) {
/*corousel*/
.carousel-item{
 	min-width: 800px;
	max-height: 550px;
} 
/*responsive tablet*/
@media (min-width: 768px) {

/*main index carousel*/
.carousel-multi-item-2 .col-md-3 {
	float: left;
	width: 25%;
	max-width: 100%;
} 
.carousel-image{
	margin: 0px; 
	width: auto;
}
.carousel-multi-item-2 .card img {
	border-radius: 2px; 
}
body {
	font-size: 1rem;
}    
}
/*responsive celphone*/
@media (min-width: 360px @screen-sm-min){
h1{ 
  	font-size: 15px; 
}

.col-md-6 p{
	font-size: 13px;
}
/*footer icons*/
.fa-map-marker-alt{
	font-size: 20px;
	margin: 0px;
}
.fa-at{
	font-size: 20px;
	margin: 0px;
	margin-bottom: 8px;
}
.fa-gem{
	font-size: 24px;
	margin-right: 0px;
}
.footer{
	margin-top:0px;
}
.aside_newslater .input .btn{
	display: block;
	margin-bottom: 0px;
	width: 00%;
}
/*publicity from the index*/ 
.card-deck{
	margin: 0px;
}

}


@media (min-width: 360px @screen-sm-min) {
    margin-left:  (@gutter / -2);
    margin-right: (@gutter / -2);
}
.row {
    margin-left:  (@gutter / -2);
    margin-right: (@gutter / -2);
}
}
.make-md-column(@columns; @gutter: @grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left:  (@gutter / 2);
  padding-right: (@gutter / 2);
}
