/*General font style family*/
body{
	font-family: 'Roboto Condensed', sans-serif;
}
/* General background color*/
.form-row, footer, .card-body, .card-text, .formulario-contacto, .card, .col-lg-6, .card-footer
{
	background-color: #d7a9c8; /*magenta*/	
}
kbd, .card-up, .btn
{
	background-color: #905b74; /*purple*/
}
/*Header - Navigation bar and logo*/ 
.navbar-brand{
	max-width: 300px;
	max-height: 120px;
	float: right;
}
#navigation_bar a{    
	color:#c13278; /*shadow pink*/
	text-decoration: none;
	font-size: 18px;
	margin-right: 8px;   
}   
#navigation_bar a:hover{
	color:#d7a9c8;
	text-decoration: none;
}                         
.header_nav{  
    justify-content: flex-end;
	background-color: white;
}         

.navbar{
	text-decoration: none;
}

/*Icons - social media - information */
i{	
	font-size: 28px;
	color:#c13278; /*shadow pink*/
}
#whatsapp{	
	width: 32px;
	margin: 1px;
}
#facebook{
	width: 32px;
	margin: 1px;
}
#instagram{
	width: 32px;
	margin: 1px;
}
#facebook:hover{
	width: 33px;
} 
#instagram:hover{
	width: 33px;
} 
#whatsapp:hover{
	width: 33px;
}
#telegram{
	width: 25px;
}
#ubicacion{
	width: 30px;
}
#comas{
	width: 35px;
	margin: 2px;
}
#email{
	width: 30px;
	margin: 2px;
}
#horario{
	width: 30px;
	margin: 2px;
}
#tarjeta{
	width: 30px;
	margin: 2px;
}
#manos{
	width: 30px;
	margin: 2px;
}
#cronometro{
	width: 30px;
	margin: 4px;
}
#menu{
	width: 35px;
	margin: 2px;
}
/* Titles and text*/
h2{
	text-align: center;
}
h4, h3, h2, h1, p{ 
	margin: 5px;	  
}

/*btn - buttons */
.btn{
    color:white;
    border-color: white;
    padding:5px; 
}
.btn-success:hover{
	background-color: #d7a9c8; /*magenta*/
	border-color: white;
}
/*btn at section - publicity into the index */
.publicidad .btn{
 margin-top: 20px;
}

/*size of: input, browser-select, label and booton*/
input, .browser-default, label, .btn{
	margin: 4px 8px 8px 3px;
	max-width: 550px;
	font-variant: small-caps;
}
/*Cards*/
.card{
	max-width: 100%;
	margin: 25px 3px 15px 5px;
	border: transparent;
  }
.card-body, .card-text{
	max-width: 100%;
	margin: 0px;
	padding: 10px;
}
.clearfix img{
	max-width: 150px;
	height: auto; 
}
.img-fluid{
	width: 100% \9;
	max-height: 550px;
}
/*imagenes of testimonial*/
.avatar img {
  max-width: 250px;
  margin-top: 20px; 
}
/*Our services html*/
.servicios{
	display:inline-block;
}
.servicios .card-body{
	overflow-y: scroll;
	max-height: 120px;	
}
.card-body::-webkit-scrollbar {
  width: 1em;
}
.card-body::-webkit-scrollbar-thumb {
  background-color: #d7a9c8; /*magenta*/
  outline: 1px solid pink;
}
.servicios img{
	max-height: 250px;
	width: auto;
}
.col-sm-4, .col-sm-5{
	margin-bottom :5px;	
}
/*Get an appointment html*/
.needs-validation{
	padding: 15px;
}
.turnos{
	max-height: auto;
	max-width: auto;
}
.form-row{
	border: solid 10px #d7a9c8; /*magenta*/
	max-width: 300px;
	margin: 10px;
}
/*about us html*/
.col-lg-6 p{
	font-size: 19px;
}

/*Contact us html*/
/*general and form*/
.col-lg-6{
	padding-top: 15px;
	border-top: solid 10px white;
	border-bottom: solid 10px white;
	margin-bottom: 10px;
}
.col-lg-6 p{
	margin: 10px;	
}
.fa-arrow-alt-circle-right{
	margin: 5px;
}
.md-form {
	padding: 5px;
}
.form-check-input {
	margin: 4px;
}
.row{
	margin-top: 25px;
}
/*google map*/
iframe{
	width: 100%;
	max-height: 500px;
	margin: 0px;
}
/* here is the footer*/
.footer-info a{
    color: black;
    margin-top: 30px;
    margin-bottom: 13px;
}
/*General breackpoint font-size*/
@include media-breakpoint-up(sm) {
	font-size: 1.2rem;
}

@include media-breakpoint-up(md) {
	font-size: 1.4rem;
}

@include media-breakpoint-only(lg) {
	column-count: 4;
}

@include media-breakpoint-only(xl) {
	column-count: 5;
	font-size: 1.6rem;
}
/*Print font*/
@media print {
  body { font-size: 10pt }} 
/*Responsive full screem*/
@media (min-width: 1025px){
/*corousel*/
.carousel-item{
 	min-width: 800px;
	max-height: 550px;} 
/*responsive tablet screem*/
@media (min-width: 768px) {
/*main index carousel*/
.carousel-multi-item-2 .col-md-3{
	float: left;
	width: 25%;
	max-width: 100%;} 
.carousel-image{
	margin: 0px; 
	width: auto;}
.carousel-multi-item-2 .card img{
	border-radius: 2px; }
body {
	font-size: 1rem;}    
}
/*responsive celphone*/
@media (min-width: 360px @screen-sm-min){
	h1{ 
  	font-size: 15px; }
.col-md-6 p{
	font-size: 13px;}
}
/*footer icons*/
.fa-map-marker-alt{
	font-size: 20px;
	margin: 0px;}
.fa-at{
	font-size: 20px;
	margin: 0px;
	margin-bottom: 8px;}
.fa-gem{
	font-size: 24px;
	margin-right: 0px;}
.footer{
	margin-top:0px;}
.aside_newslater .input .btn{
	display: block;
	margin-bottom: 0px;
	width: 00%;}
}